<h1> Mega Cool COMPANY DASHBOARD </h1>

<h2> Emails in process </h2>

<% @company.users.each do |user| %>
  <p> <%= user.email %> </p>
<% end %>


<!-- There will go the nice list of guys having there email sent-->

<h2> Details </h2>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Siret:</strong>
  <%= @company.siret %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @company.plan.name %> (Plan #<%= @company.plan_id %>)
</p>

<p>
  <strong>Ratio:</strong>
  <%= @company.ratio %>
</p>
